@model DetailsViewModel
@{
    ViewData["Title"] = "کالا " + Model.Product.Name;
}

<div class="bg-white p-2 rounded border mb-5 justify-content-center">
    <h1 class="display-5 text-center" style="font-weight: bold"> @Model.Product.Name</h1>
    <hr/>
    <div class="d-flex justify-content-center">
        <img src="@($"/images/{Model.Product.Id}.jpg")"
             alt="@Model.Product.Name"
             class="img-thumbnail w-100" />
    </div>
    <p class="py-5 text-justify text-center" style="padding: 20px">@Model.Product.Description</p>
    
    <p style="font-weight: bold; color: #007bff; font-size: 25px">قیمت : @Model.Product.Item.Price</p>
    <dl>
        @foreach (var item in Model.Categories)
        {
            <dt><a>@item.Name</a></dt>
            <dd>@item.Description</dd>
        }
    </dl>
    <div>
        <a class="btn btn-primary" 
           asp-controller="Home"
           asp-action="AddToCart"
           asp-route-itemId="@Model.Product.ItemId">افزودن به سبد خرید</a>
    </div>
</div>

